<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Nombres premiers de {{ offset }} &agrave; {{ end }} </title>
    </head>
    <style>
        body {
            background: #DEB887;
        }
        .numbers li {
            display: inline;
        }
    </style>
    <body>
        <h1>Liste des {{ limit }} nombres premiers &agrave; partir de {{ offset }} (De {{ offset }} &agrave; {{ end }} ): </h1>
        <ul class="numbers">
            {% for number in numbers %}
                <li>{{ number }}</li>
            {% endfor %}
        </ul>
        <nav>
            <ul>
                <li><a href="{{ url_for('prime_numbers', offset=next_) }}">Afficher les {{ limit }} nombres premiers &agrave; partir de {{ next_ }}</a></li>
                <li><a href="{{ url_for('prime_numbers') }}">Revenir au debut</a></li>
                <li><a href="/">Revenir &agrave; la page d'accueil du site</a></li>
            </ul>
        </nav>
    </body>
</html>

